.main_profile{
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    border-radius: 13px;
    background-color: white;
    height: 300px;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 40%;
}
.naav a{
    font-size: 30px;
    margin-left: 20px;
}
body{
    background-color: #212a3e !important;
    min-height: 100vh;
}

.naav{
    width: 100%;
}